.content {
  padding: .5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
  & :nth-child(n){
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #aaa;
  }
}