// antIconSize 
$IconSize: 1.6rem;
// themeColor
$themeColor : rgba(211, 58, 44); 
// deactiveColor
$deactiveColor: #aaa;
// shadow
$shadow: #eee;
// lineColor 
$lineColor: #aaa; 

@mixin IconStyle {
  font-size: $IconSize;
  svg {
    color: $themeColor;
  }
}
